---
layout: wide
permalink: /staff/
pagination:
  enabled: true
  collection: staff
---

<div class="grid-container">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      {%
        include collection-header.html
        title="Staff"
        description="
          The staff of the National Council on Disability
          that lead agency priorities, policy trends, and other agency business.
        "
      %}
      {% for post in paginator.posts %}
        {%
          include paginated-collection-item.html
          post=post
        %}
      {% endfor %}
      <!-- Pagination links -->
      {% include paginator.html %}
    </div>
  </div>
</div>
